@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* color atyle  */
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.komola1{
    color: #FF900E;
}

.bg-light{
    color: rgba(255, 149, 28, 0.849);
}
/* shared style  */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

/* h3 styles  */
.title-one{
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
    /* margin: 40px 160px; */

}

/* nav styles   */
.nav-item{
    list-style: none;
    margin-right: 50px;
    /* margin-right: 70px; */
}

.nav-link{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px;
}

.navber , .banner {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

/* banner related style  */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}

/* team and feature related styles / */

.team-feature{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.title-feature{
    font-size: 2.8rem;
}
#quick-list{
    font-weight: 500;
}
#of-our{
    font-weight: 700;
}
#features-list{
    font-weight: 700;
}
.feature-description{
    margin-bottom: 32px;
}

/* feature box styyle  */
.features{
    gap: 100px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    font-size: 2.8rem;
}
.section-title{
    font-size: 2.8rem;
}


.feature-title{
    font-weight: 600px;
    font-size: 1.25rem;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10px;
}

.exp-badge{
    padding: 45px 42px;
    margin-left: -86px;
    margin-top: -90px;
}

.exp-year{
    font-size: 4rem;
    font-weight: 700;
}
.exp-exp{
    font-size: 1.5rem;
    font-weight:500 ;
}


.model-image{
    width: 100%;
}
/* some facts related style  */
.facts{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}
.fact-number{
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-size: 500;
    margin-top: 4px;
}

.title-features{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.facts-des{
    max-width: 540px;
}

    /* sponsor sttle  */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);

}

/* footer style  */
.footer-text{
    background-color: antiquewhite;
    padding: 40px 400px;
    margin-top: 170px;
    text-align: center;
    /* width: 1440px; */

}
.footer-txt{
    font-size: 20px;
    font-weight: 300;
}

/* responsive media qurry  */

@media screen and (max-width:576px) {
    .navbar , .nav-link , .team-feature , .features{
        flex-direction: column;
    }
    .team-image-container ,
    .facts-container ,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .exp-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

    .sponsor-companies{
        justify-items: center;
        gap: 60px;
    }
    .title-features, .facts-des{
        text-align: center;
    }

    .footer-text{
        justify-items: center;
        padding: 5px;
        margin-right: 4px;
    }




}
/* medium size device  */
@media screen and (min-width:576px) and (max-width:996px) {
     .navbar , .nav-link ,.features{
        flex-direction: column;
    }
    .banner-image{
        max-width: 100%;
        justify-items: center;
    }
    .team-feature{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }

    .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-items: center;
    }

    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }
    .title-features, .facts-des{
        text-align: center;
        margin-left: 100px;
    }
     .exp-badge{
        margin-top: 20px;
        margin-left: 20px;
        justify-items: center;
    }
    .footer-text{
        justify-items: center;
        padding: 5px;
        margin-right: 4px;
    }
  
}
