@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* color atyle  */
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.komola1{
    color: #FF900E;
}

.bg-light{
    color: rgba(255, 149, 28, 0.849);
}
/* shared style  */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

/* h3 styles  */
.title-one{
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
    /* margin: 40px 160px; */

}

/* nav styles   */
.nav-item{
    list-style: none;
    margin-right: 50px;
    /* margin-right: 70px; */
}

.nav-link{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px;
}

.navber , .banner {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

/* banner related style  */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}

/* team and feature related styles / */

.team-feature{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.title-feature{
    font-size: 2.8rem;
}
#quick-list{
    font-weight: 500;
}
#of-our{
    font-weight: 700;
}
#features-list{
    font-weight: 700;
}
.feature-description{
    margin-bottom: 32px;
}


/* responsive media qurry  */

@media screen and (max-width:576px) {
    .navbar , .nav-link , .team-feature{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}
/* medium size device  */
@media screen and (min-width:576px) and (max-width:996px) {
     .navbar , .nav-link{
        flex-direction: column;
    }
    .banner-image{
        max-width: 100%;
    }
    .team-feature{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}
